.panel__title Страница «Мои работы»
.panel__subtitle Добавить работу
form.panel__form.panel__form--works(action="/admin-my-works" method="POST" formenctype="multipart/form-data")
  input.panel__input.panel__works-title(type="text" name="name" placeholder="Название")
  input.panel__input.panel__works-techs(type="text" name="techs" placeholder="Технологии")
  //- label.panel__upload-img
    .panel__upload-icon
    .panel__upload-text Загрузить картинку
    input.panel__upload-input(name="slide" type="file" required accept="image/*")
  input(name="" type="submit" value="Добавить").panel__button