extends ../template

block variables
  - var isBlog = true

block content

  ul.sidebar
  .wrapper.blog
    include ../common/header
    section.blog__content
      .blog__top-frame
        svg.frame-svg.frame-svg--left
          use(xlink:href="assets/images/sprite/sprite.svg#about_bg_left")
        svg.frame-svg.frame-svg--right
          use(xlink:href="assets/images/sprite/sprite.svg#about_bg_right")
      .articles
        .articles__container
          .articles__left-col
          .articles__right-col
            ul.articles__list
              each index in blogs
                li.articles__item 
                  .articles__title= index.title
                    - 
                      var date = new Date(index.date).toLocaleDateString('ru', {
                        year: 'numeric',
                        month: '2-digit',
                        day: '2-digit'
                      })
                  .articles__date= date
                  .articles__text= index.content

    include ../common/footer