extends ../template

block variables
  - var isBlog = true

block content

  ul.sidebar
  .wrapper.blog
    include ../common/header
    section.blog__content
      .blog__top-frame
        svg.frame-svg.frame-svg--left
          use(xlink:href="assets/images/sprite/sprite.svg#about_bg_left")
        svg.frame-svg.frame-svg--right
          use(xlink:href="assets/images/sprite/sprite.svg#about_bg_right")
      .articles
        .articles__container
          .articles__left-col
          .articles__right-col
            ul.articles__list
              li.articles__item 
                .articles__title Lorem ipsum dolor.
                .articles__date 22 ноября 2016
                .articles__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet architecto blanditiis saepe, tenetur veniam, cupiditate distinctio voluptatum assumenda debitis enim aliquam hic natus quisquam! Ullam veritatis est illo repellat fugit animi ut nemo minima reiciendis, libero ea, dolores officia architecto! Adipisci accusantium tempore molestias officiis eos itaque similique dolore temporibus.

    include ../common/footer