extends ../template

block variables
  - var isBlog = true

block content

  ul.sidebar
  .wrapper.blog
    include ../common/header
    section.blog__content
      .blog__top-frame
        svg.frame-svg.frame-svg--left
          use(xlink:href="assets/images/sprite/sprite.svg#about_bg_left")
        svg.frame-svg.frame-svg--right
          use(xlink:href="assets/images/sprite/sprite.svg#about_bg_right")
      .articles
        .articles__container
          .articles__left-col
          .articles__right-col
            ul.articles__list
              li.articles__item 
                .articles__title Lorem ipsum dolor.
                .articles__date 22 ноября 2016
                .articles__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet architecto blanditiis saepe, tenetur veniam, cupiditate distinctio voluptatum assumenda debitis enim aliquam hic natus quisquam! Ullam veritatis est illo repellat fugit animi ut nemo minima reiciendis, libero ea, dolores officia architecto! Adipisci accusantium tempore molestias officiis eos itaque similique dolore temporibus.
              li.articles__item
                .articles__title Lorem ipsum amet.
                .articles__date 22 ноября 2016
                .articles__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque deleniti at eos maiores voluptates suscipit, pariatur autem debitis saepe incidunt, ducimus quibusdam reiciendis? Optio doloremque ullam repudiandae itaque odio. Illo ducimus officia quia possimus, quos commodi iusto quae quasi ipsa dicta exercitationem explicabo sed! Perspiciatis, ipsa quasi asperiores hic nulla veritatis tempore accusamus iure nobis ipsum vero amet accusantium reiciendis libero nisi sapiente laborum voluptatem eveniet expedita error commodi soluta repellendus. Eaque, et? Tenetur architecto voluptate excepturi? Laboriosam tenetur praesentium sint adipisci qui aut consequuntur voluptatibus nemo temporibus? Inventore in nostrum dolore aliquam iste adipisci sapiente consectetur, officiis non et ad debitis molestiae illo accusamus facere eius mollitia consequuntur vero delectus! Repudiandae consequuntur sed quam sint beatae, sequi aliquid. Ea, natus ipsa, repellat maiores accusamus tenetur animi eos corrupti dolor provident pariatur nisi assumenda optio quo architecto ipsum commodi neque dolore maxime ab ullam eius ad mollitia quidem! Delectus, molestias.
              li.articles__item
                .articles__title Lorem amet.
                .articles__date 22 ноября 2016
                .articles__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatibus autem exercitationem hic nobis, quia doloremque provident cumque molestiae, placeat unde, officiis sequi doloribus veniam. Dolor molestias rerum quos obcaecati qui, quisquam ratione blanditiis dignissimos explicabo corrupti odio iure, repellat, culpa ullam! Laudantium, eius harum dicta doloribus unde repellendus ipsa qui ducimus rerum incidunt excepturi maxime suscipit necessitatibus? Eius ipsa praesentium vero vitae pariatur optio beatae laudantium voluptas assumenda quidem, neque adipisci exercitationem quam voluptatum dolorum atque accusantium doloremque eaque quod amet voluptates deleniti! Veritatis libero exercitationem ex autem at similique rem accusamus quaerat magni est, iusto tenetur possimus fugit.      
              li.articles__item
                .articles__title Lorem.
                .articles__date 22 ноября 2016
                .articles__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatibus autem exercitationem hic nobis, quia doloremque provident cumque molestiae, placeat unde, officiis sequi doloribus veniam. Dolor molestias rerum quos obcaecati qui, quisquam ratione blanditiis dignissimos explicabo corrupti odio iure, repellat, culpa ullam! Laudantium, eius harum dicta doloribus unde repellendus ipsa qui ducimus rerum incidunt excepturi maxime suscipit necessitatibus? Eius ipsa praesentium vero vitae pariatur optio beatae laudantium voluptas assumenda quidem, neque adipisci exercitationem quam voluptatum dolorum atque accusantium doloremque eaque quod amet voluptates deleniti! Veritatis libero exercitationem ex autem at similique rem accusamus quaerat magni est, iusto tenetur possimus fugit.
              li.articles__item
                .articles__title Lorem ipsum dolor sit amet.
                .articles__date 22 ноября 2016
                .articles__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatibus autem exercitationem hic nobis, quia doloremque provident cumque molestiae, placeat unde, officiis sequi doloribus veniam. Dolor molestias rerum quos obcaecati qui, quisquam ratione blanditiis dignissimos explicabo corrupti odio iure, repellat, culpa ullam! Laudantium, eius harum dicta doloribus unde repellendus ipsa qui ducimus rerum incidunt excepturi maxime suscipit necessitatibus? Eius ipsa praesentium vero vitae pariatur optio beatae laudantium voluptas assumenda quidem, neque adipisci exercitationem quam voluptatum dolorum atque accusantium doloremque eaque quod amet voluptates deleniti! Veritatis libero exercitationem ex autem at similique rem accusamus quaerat magni est, iusto tenetur possimus fugit.
              li.articles__item
                .articles__title Lorem ipsum amet.
                .articles__date 22 ноября 2016
                .articles__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatibus autem exercitationem hic nobis, quia doloremque provident cumque molestiae, placeat unde, officiis sequi doloribus veniam. Dolor molestias rerum quos obcaecati qui, quisquam ratione blanditiis dignissimos explicabo corrupti odio iure, repellat, culpa ullam! Laudantium, eius harum dicta doloribus unde repellendus ipsa qui ducimus rerum incidunt excepturi maxime suscipit necessitatibus? Eius ipsa praesentium vero vitae pariatur optio beatae laudantium voluptas assumenda quidem, neque adipisci exercitationem quam voluptatum dolorum atque accusantium doloremque eaque quod amet voluptates deleniti! Veritatis libero exercitationem ex autem at similique rem accusamus quaerat magni est, iusto tenetur possimus fugit.

    include ../common/footer